
@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>

<br />
<a class="btn btn-primary" href="/Home/Index">Home Hanoi</a>

<br /><br />
    <div ng-controller="MainCtrl">

        @*<button id='toggleFiltering' ng-click="toggleFiltering()" class="btn btn-success">Toggle Filtering</button>*@


        <div id="grid1" ui-grid="gridOptions" class="grid"></div>
    </div>


